[submodule "flint-tests/js"]
	path = flint-tests/js
	url = https://github.com/skadewdl3/flint-tests-js.git

[submodule "flint-tests/locust"]
	path = flint-tests/locust
	url = https://github.com/skadewdl3/flint-tests-locust.git
